* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
      'Helvetica Neue', sans-serif;
}

body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(59, 153, 198);
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 20px;
}

#header {
    text-align: center;
    margin-bottom: 20px;
}

#header img {
    width: 70px;
    height: auto;
    margin-right: 10px;
}

#header h1 {
    font-family: 'Nocture Serif';
    font-size: 30px;
}

.form-box {
    overflow:auto;
    flex-wrap: wrap;
    max-width: 500%;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    
}

#collect form input {
    font-size: 15px;
    padding: 0.2rem 1rem;
}

button {
    width: auto;
    border: 1px solid #0096FF;
    color: white;
    background: #0096FF;
    padding: 0.8rem 1.2rem;
    cursor: pointer;
    border-radius: 0.4rem;
    transition: background-color 0.3s ease;
    vertical-align: middle;
    font-size: 1rem;
}

.form-inline button {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.edit-btn,
.delete-btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

#display > div {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

table{
    width: 100%;
    max-width: 100%;
    overflow-wrap:normal;
    border-collapse: collapse;
}

th,
td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ccc;
}

tbody{
    background-color: #eee;
}


@media (min-width: 800px) {
    .form-box {
        padding: 30px;
    }
}
.table-wrapper {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    overflow: auto;
    white-space: normal;
}

.weekDays-selector input {
    display: none!important;
  }
  
  .weekDays-selector input[type=checkbox] + label {
    display: inline-block;
    border-radius: 6px;
    background: #ced5d67a;
    height: 30px;
    width: 40px;
    margin-right: 4px;
    margin-left: 3px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
  }
  
  .weekDays-selector input[type=checkbox]:checked + label {
    background: #0077ff;
    color: #ffffff;
  }
  .weekDays-selector input[type=checkbox]:checked:hover + label {
    background: #0059ff;
    color: #ffffff;
  }
  .weekDays-selector input[type=checkbox]:hover + label {
    background: rgba(0, 170, 255, 0.238);
    color: hsl(0, 0%, 2%);
  }
  .weekDays-selector label {
    font-size: 14px;
    font-weight:normal;
  }

